{% load i18n %}

<button class="sticky toggle-nav-sidebar"
        id="toggle-nav-sidebar"
        aria-label="{% translate 'Toggle navigation' %}">
</button>

<nav class="sticky"
     id="nav-sidebar"
     aria-label="{% translate 'Sidebar' %}">

    <input type="search"
           id="nav-filter"
           placeholder="{% translate 'Start typing to filter…' %}"
           aria-label="{% translate 'Filter navigation items' %}">

    {% include "admin/app_list.html" with app_list=available_apps show_changelinks=False %}

    <div class="app-mass-upload module">
        <table>
            <caption>
                <span class="section">
                    MASS DATA UPLOAD
                </span>
            </caption>

            <tbody>

                <tr>
                    <th scope="row">
                        <a href="{% url 'upload_customer' %}">
                            Upload Customer Master
                        </a>
                    </th>
                </tr>

                <tr>
                    <th scope="row">
                        <a href="{% url 'upload_address' %}">
                            Upload Address
                        </a>
                    </th>
                </tr>

                <tr>
                    <th scope="row">
                        <a href="{% url 'upload_financial' %}">
                            Upload Financial / Outstanding
                        </a>
                    </th>
                </tr>

            </tbody>
        </table>
    </div>

</nav>